/* Style files for Ansible Page */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

body {
    background-image: url(../Background/docker.jpg);
    background-size: cover;
}

h1 {
    text-align: center;
    font-size: 60px;
    font-weight: 250;
    color: white;
    padding: 20px;
    font-weight: 350; 
    background-color: rgba(255, 255, 255, 0.452);
}

header span {
    color: dodgerblue;
}

.hide {
display: none;
}

.show {
display: block;
}

img {
    display: grid;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 50%;
    height: 900px;
    object-fit: cover;
}

img:hover {
    background-color: rgba(0, 0, 0, 0.030);
}

.copyright {
    background-color: rgba(255, 255, 255, 0.452);
    font-size: 30px;
    text-align: center;
    padding: 20px;
    font-weight: 370;
    margin: 20px;
}

header a {
    text-decoration: none;
}

#home {
    position: absolute;
    top : 70px;
    left: 30px;
    margin: 5px;
    padding: 10px;
    font-size: 30px;
    width: 60px;
    height: 60px;
    background-color: dodgerblue;
    border-radius: 50%;
    transition: 0.4s ease;
}

#info {
    position: absolute;
    top : 70px;
    left: 110px;
    margin: 5px;
    padding: 10px;
    font-size: 30px;
    width: 60px;
    height: 60px;
    background-color: dodgerblue;
    border-radius: 50%;
    transition: 0.4s ease;
}

#bug {
    position: absolute;
    top : 70px;
    left: 190px;
    margin: 5px;
    padding: 10px;
    font-size: 30px;
    width: 60px;
    height: 60px;
    background-color: dodgerblue;
    border-radius: 50%;
    transition: 0.4s ease;
}

#home:hover, #info:hover, #bug:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.863);
}

.hover-subtext {
    opacity: 0;
    transition: opacity 0.3s ease;
}

header:hover .hover-subtext {
    opacity: 1;
}

.hover-subtext {
    font-size: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hover-subtext p {
    color:deepskyblue;
}

h1 span {
    color: dodgerblue;
    font-weight: 350;
}

h2 {
    font-weight: 300;
    font-size: 40px;
    color: white;
    text-align: center;
}

.window {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    padding: 30px;
    margin: 30px auto;
    max-width: 1300px;
    font-size: 25px;
    transition: 1s ease-in;
}

.window:hover, .window_code {
    background-color: rgba(255, 255, 255, 0.733);
}


#about {
    text-align: center;
    transition: 1s ease-in;
}

#information {
    text-align: center;
    transition: 1s ease-in;
}

#installation {
    font-size: 20px;
    transition: 1s ease-in;
}

.window_code {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    padding: 30px;
    margin: 30px auto;
    max-width: 1300px;
    font-size: 25px;
    transition: 1s ease-in;
}

.window_code span {
    color: brown;
}

li {
    text-decoration: none;
   list-style-type: none;
}